<launch>

  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="pcap" value="/root/rosbag/Velodyne-VLP_10Hz_Monterey_Highway.pcap" />  
  </include>

  <node name="euclideanCluster" pkg="pointcloud_practice" type="euclideanCluster">
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pointcloud_practice)/rviz/test.rviz"/>

</launch>
